.body {
  overflow-x: scroll;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;

  height: 100%;
}
.title {
  margin-left: 10px;
  margin-top: -15px;
  
  font-size: 6.5em;
  font-weight: 300;
  /* border: 1px solid blue; */

  white-space: nowrap;
  height: 22%;
}
.flex-container {
  display: flex;
  flex-flow: row nowrap;
  max-height: 78%;
}
