.metro-panel {
  height: 90%;
  width: 85vw;
  /* border: 1px solid black; */
  padding-left: 10px;
  scroll-snap-align: start;
  scroll-snap-stop: always;
  overflow-x: scroll;
  margin-top: 20px;
}

.panel-title {
  font-size: 2.5em;
  padding-bottom: 30px;
}
