.metro-panel {
  width: 90vw;
  /* border: 1px solid black; */
  padding-left: 15px;
  scroll-snap-align: start;
  scroll-snap-stop: always;
  overflow-x: hidden;
  height: 100%;
  display:block;
}

.panel-title {
  font-size: 2.8em;
  padding: 15px 0;
  padding-bottom: 15px;
  font-weight: 400;
  height: fit-content;
}

.panel-content {
  overflow-y: scroll;
  max-height: 81%; /* Isso aqui é feio, mas por enquanto é isso*/
  display: block;
  /* border: 1px solid black; */
}
