<div class="content">
  <router-outlet></router-outlet>
  <!-- <app-mtro-pivot title="pivot title" [menus]="menusTeste">
    <app-metro-panel>
      painel 1
    </app-metro-panel>
    <app-metro-panel>
      painel 2
    </app-metro-panel>
  </app-mtro-pivot> -->
</div>
<div class="appbar">
  <button (click)="goback()"><i class="fa-solid fa-chevron-left"></i></button>
  <button (click)="gohome()"><i class="fa-solid fa-house"></i></button>
  <button><i class="fa-solid fa-star"></i></button>
</div>
