/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap');
* {
  --accent-color: #ce1111;
  --bgcolor: white;
  --textcolor: black;
  --neutral-light: #EDEBE9;

  background-color: var(--bgcolor);
  color: var(--textcolor);

  font-family: 'Open Sans', sans-serif;
  margin: 0%;
  padding: 0%;
}
